body {
    font-family: 'Roboto', sans-serif;
}

/*
--------------------------
header
--------------------------
*/

header {
    background-color: #f8f9fa;
    height: 70px;
    padding: 10px 1px;
}

nav {
    background-color: white;
}

.logo-phone {
    height: 100%;
}

.logo-intero {
    height: 100%;
    width: 100%;
}

.form-control {
    background-color: #e5e5e5;
}

.colore-campana {
    color: #ff8f00;
}

ul {
    color: #5b5858;
    gap: 24px;
    margin-bottom: 0;
    justify-content: end;
}

/*
--------------------------
main
--------------------------
*/

.big-container {
    background-color: #f8f9fa;
    height: calc(100vh - 70px);
    display: flex;
}

aside {
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

aside ul li {
    color: white;
}


.sezione-boolean {
    background-color: #1b72e8;
    color: white;
}

.badge-color {
    background-color: #165bba;
}

.yellow-badge {
    color: white;
    background-color: #ffc107;
}